
:root{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: var(--Lightgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    font-size: 15px;
}

.containar img {
    border-radius: 0.625rem;
    margin-bottom: 14px;
    height: 280px;
    width: 100%;
}

.containar {
    border-radius: 0.625rem;
    padding: 13px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 9%);
    background-color: var(--White);
    height: 485px;
}

.containar h2 {
    color: var(--Darkblue);
    text-align: center;
    margin-bottom: 14px;
}

.containar p {
    color: var(--Grayishblue);
    text-align: center;
    margin: 0 12px;
}

@media (min-width:375px) {
    .containar{
        width: 300px;
    }
}